*{
	margin: 0;
	padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #FFB6C1;
}
.footer{
	text-align: right;
  padding: 20px;
  background-color: black;
  color: white;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
   img{
	  width: 30%;
  height: auto;
  }
}

